/* Định dạng chung cho toàn bộ trang */
main{
  margin-top: 10em;
}
section{
  font-size: 150%;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}
header{
  font-family: 'Slabo 27px', serif;
  position: fixed;
  top:0; left: 0; right:0;
  background:#333;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;
}
header .logo:hover{
    text-decoration: none;
    color: orange;
}
header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color:#fff;
  text-transform: uppercase;
}

header .logo span{
  color:varorange;
}

header .navbar a{
  color:#fff;
  font-size: 2rem;
  margin:0 .8rem;
}

header .navbar a:hover{
  color:orange;
  text-decoration: none;
}

header .icons a{
  color:#fff;
  font-size: 2rem;
  margin:0 .8rem;
}

header .icons a:hover{
  color:orange;
  text-decoration: none ;
}
header .icons i{
  font-size: 2.5rem;
  color:#fff;
  cursor: pointer;
  margin-right: 0rem;
}
section.footer{
  background:#333;
  margin: 0;
  padding: 0;
}

.footer .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  padding: 30px 150px 0px 150px ;
}

.footer .box-container .box{
  padding:0 0;
  flex:1 1 25rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  padding:.12rem 0;
  color:#fff;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  padding:.12rem 0;
  color:#eee;
}

.footer .box-container .box a{
  display: block;
  font-size: 1.5rem;
  padding:.12rem 0;
  color:#eee;
}

.footer .box-container .box a:hover{
  color:var(--orange);
  text-decoration: underline;
}

.footer .credit{
  font: 13.2px "Slabo 27px", serif !important;
  margin: 8.8px 0px 0px !important;
  padding: 6.16px 8.8px !important;
  text-align: center;
  padding:0.7rem 1rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: normal;
  color:GRAY;
  border-top: .1rem solid rgba(255,255,255,.2);
}
.footer .box img{
  margin: 0px 0px !important;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3)!important;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Định dạng tiêu đề chính */

h1{
  text-align: center;
  font-size: xx-large;
  font-weight: 600 ;
  color: rgba(35, 35, 185, 0.668) ;
  text-shadow: 2px 2px 4px rgba(218, 153, 153, 0.5);
  margin-left: 20px; /* Khoảng cách phía trên */
}
/* Định dạng các section */
section {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

/* Định dạng cho phần Giá*/
#price {
  text-align: center;
  font-weight: bold; /* Độ đậm cho văn bản */
  font-size: 25px; /* Kích thước chữ */
  color:red; /* Màu chữ nổi bật (màu cam) */
  text-transform: uppercase; /* Chuyển đổi chữ thành chữ hoa */
  margin-top: 10px; /* Khoảng cách phía trên */
  margin-left: 20px; /* Khoảng cách phía trên */
}

/* Định dạng h2 trong các section */
section h2 {
  font-size: 24px;
  color: rgb(64, 64, 214);
}

/* Định dạng h3 trong các section */
section h3 {
  font-size: 18px;
  color: black;
}

/* Định dạng các đoạn văn bản */
p {
  line-height: 1.5;
}

/* Định dạng hình ảnh */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  /* Định dạng hình ảnh */
}

/* Định dạng danh sách ul và li */
ul {
  list-style-type: disc;
  margin-left: 20px;
}

li {
  margin-bottom: 10px;
}

/* Định dạng link */
a {
  text-decoration: none;
  color: #007bff; /* Màu xanh dương */
}

a:hover {
  text-decoration: underline;
}

